.back-to-top {
  color: white;
  display: flex;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  transition-property: all;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #0063a5;
  cursor: pointer;
  border: none;
}

.back-to-top-icon {
  width: 2rem;
  height: 2rem;
}

.back-to-top:hover {
  background: #024d80;
}
